<!-- <div *ngFor="let item of messages">
  <div *ngIf="item.idUser != user.id">
    <div class="MENSAJE" #messageDiv [attr.idSocket]="item.id">
      <div class="text-main">
        <div class="text-group me">
          <div class="text me">
            <p>{{ item.mensaje }}</p>
          </div>
        </div>
        <span>{{ item.fecha | date : "dd/MM/yyyy HH:mm" }}</span>
      </div>
      <input type="text" [(ngModel)]="message" />
      <button (click)="sendMessage()">Enviar</button>
    </div>
  </div>
  <li>{{ item.mensaje }}</li>
</div> -->
<section>
  <div class="py-5">

    <div class="row">
      <div class="col-md-12">

        <div class="card" id="chat3" style="border-radius: 15px;">
          <div class="card-body">

            <div class="row">
              <div class="col-md-6 col-lg-5 col-xl-4 mb-4 mb-md-0">

                <div class="p-3" style="height: 400px !important;">

                  <div class="input-group rounded mb-3">
                    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                      aria-describedby="search-addon" />
                    <span class="input-group-text border-0" id="search-addon">
                      <i class="fas fa-search"></i>
                    </span>
                  </div>

                  <div style="position: relative;max-height: 400px; overflow-y: auto;">
                    <ul class="list-unstyled mb-0">

                      <li *ngFor="let item of usuarios" class="p-2 border-bottom" (click)="showMessages(item.id)">
                        <div href="" class="d-flex justify-content-between">
                          <div class="d-flex flex-row">
                            <div class="pt-1">
                              <p class="fw-bold mb-0">{{item.name}}</p>
                              <!-- <p class="small text-muted">Lorem ipsum dolor sit.</p> -->
                            </div>
                          </div>
                          <div class="pt-1">
                            <p class="small text-muted mb-1">{{item.lastMessageTime}}</p>
                            <span *ngIf="item.messageCount > 0"
                              class="badge bg-primaryy rounded-pill float-end">{{item.messageCount}}</span>
                          </div>

                        </div>
                      </li>

                    </ul>
                  </div>

                </div>

              </div>

              <div class="col-md-6 col-lg-7 col-xl-8">


                <div class="pt-3 pe-3"
                  style="position: relative; max-height: 400px; overflow-y: auto; height: 400px !important;">
                  <div *ngFor="let message of combinedMessages"
                    [ngClass]="{'justify-content-start': !message.isSended, 'justify-content-end': message.isSended}"
                    class="d-flex flex-row">
                    <div>
                      <p class="small p-2 ms-3 mb-1 rounded-3 text-white"
                        [ngClass]="{'bg-primaryy': message.isSended, 'bg-secondary': !message.isSended}">
                        {{ message.message }}
                      </p>
                      <p class="small ms-3 mb-3 rounded-3" [ngClass]="{'float-end': !message.isSended}">{{
                        message.date | date: 'hh:mm a' }}</p>
                    </div>
                  </div>
                </div>



                <div class="text-muted d-flex justify-content-start align-items-center pe-3 pt-3 mt-2">
                  <input [(ngModel)]="message" type="text" class="form-control form-control-lg"
                    id="exampleFormControlInput2" placeholder="Mensaje">
                  <button class="border-0" (click)="sendMessage()"><i
                      class="fas fa-paper-plane text-success"></i></button>
                </div>

              </div>
            </div>

          </div>
        </div>

      </div>
    </div>

  </div>
</section>