<div *ngIf="relatedProducts" class="swiper-container" [swiper]="config">
    <div class="swiper-wrapper h-100">      
        <div *ngFor="let product of relatedProducts" [class.hide-slide]="product.id === idProducto" class="swiper-slide">
            <mat-card class="product-item" *ngIf="product.id !== idProducto">
                <!-- <mat-chip-listbox *ngIf="product.discount">
                    <mat-chip-option color="warn" highlighted selectable="false">{{product.discount}}% OFF</mat-chip-option>
                </mat-chip-listbox> -->
                <a class="image-link">
                    <img [src]="product.imagenes[0].URL" class="swiper-lazy"/>
                    <div class="swiper-lazy-preloader"></div>
                </a>
                <h4 class="category text-muted">{{ product.categoriaProducto.Descripcion}}</h4>                                                                     
                <a  class="title text-truncate">
                    {{product.nombre}}
                </a>
                <div fxLayout="row" fxLayoutAlign="space-between center" class="prices">
                    <div fxLayout="column" fxLayoutAlign="center start">
                        <p class="old-price text-muted"><span *ngIf="product.oldPrice">Precio Viejo</span></p>
                        <p class="new-price">{{product.precio | currency : "USD"}}</p>
                    </div>
                </div>                            
                <div class="divider mt-2"></div>
                <div class="icons">
                    <app-controls [isRelatedProduct]="isRelatedProduct"></app-controls>
                </div>
            </mat-card>
        </div>
    </div>
    <button mat-mini-fab class="swiper-button-prev swipe-arrow"><mat-icon>keyboard_arrow_left</mat-icon></button>
    <button mat-mini-fab class="swiper-button-next swipe-arrow"><mat-icon>keyboard_arrow_right</mat-icon></button> 
</div>
