<mat-card class="shipping-card">
  <div fxFlex="200" fxFlex.gt-sm="50" class="p-3" ngClass.sm="mt-3" ngClass.xs="mt-3">
      <h2 class="text-muted text-center mb-3">Login</h2>
      <form [formGroup]="loginForm"  novalidate>
        <mat-form-field appearance="outline" class="w-100 mt-2">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" formControlName="email" required />
          <mat-error *ngIf="errorHandling('email', 'required')">El email es requerido</mat-error>
          <mat-error *ngIf="errorHandling('email', 'email')">El email tiene un formato inválido</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100 mt-2">
          <mat-label>Clave</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" placeholder="Clave usuario" formControlName="clave" />
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="errorHandling('clave', 'required')">La clave es requerida</mat-error>
          <mat-error *ngIf="errorHandling('clave', 'minlength')">La clave debe de tener al menos 6
            caracteres</mat-error>
        </mat-form-field>
        <div class="text-center mt-2">
          <button mat-fab color="primary" class="mat-elevation-z6" (click)="onLoginFormSubmit()">
            <mat-icon>exit_to_app</mat-icon>
          </button>
        </div>

      </form>
    </div>
  </mat-card>