<app-main-carousel [slides]="slides"></app-main-carousel>

<div fxLayout="row wrap" class="info-bar">
    <div fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-xs="50">
        <mat-card class="light-block p-3" fxLayout="row"  fxLayoutAlign="start center">
            <mat-icon class="mat-icon-xlg text-muted m-0">money</mat-icon>
            <div class="content">
                <p>Compra y Vende</p>
                <span class="text-muted m-0">Posibilidad de vender tus productos</span>
            </div>
        </mat-card>
    </div>
    <div fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-xs="50">
        <mat-card class="light-block p-3" fxLayout="row"  fxLayoutAlign="start center">
            <mat-icon class="mat-icon-xlg text-muted m-0">local_shipping</mat-icon>
            <div class="content">
                <p>Beneficios</p>
                <span class="text-muted m-0">Envíos gratis al GAM</span>
            </div>
        </mat-card>
    </div>
    <div fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-xs="50">
        <mat-card class="light-block p-3" fxLayout="row"  fxLayoutAlign="start center">
            <mat-icon class="mat-icon-xlg text-muted m-0">monetization_on</mat-icon>
            <div class="content">
                <p>Productos de Calidad</p>
                <span class="text-muted m-0">Productos verificados</span>
            </div>
        </mat-card>
    </div>
    <div fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-xs="50">
        <mat-card class="light-block p-3" fxLayout="row"  fxLayoutAlign="start center">
            <mat-icon class="mat-icon-xlg text-muted m-0">history</mat-icon>
            <div class="content">
                <p>Contacto directo con Vendedor</p>
                <span class="text-muted m-0">Usa nuestro chat en vivo</span>
            </div>
        </mat-card>
    </div>
</div>

<app-banners [banners]="banners"></app-banners>

<div class="products-tabs">

     <mat-tab-group mat-stretch-tabs (selectedTabChange)="onLinkClick($event)">

        <!-- <mat-tab label="Featured">
            <app-products-carousel [products]="relatedProducts" [idProducto]="idProducto"></app-products-carousel>
        </mat-tab> -->
        <mat-tab label="Nuevos">
           <app-products-carousel [products]="newProducts"></app-products-carousel>
        </mat-tab>
        <mat-tab label="Descuentos">
            <app-products-carousel [products]="discountProducts"></app-products-carousel>
        </mat-tab>
        <!-- <mat-tab label="New Arrivals">
            <app-products-carousel [products]="newArrivalsProducts"></app-products-carousel>
        </mat-tab> -->
    </mat-tab-group>

</div>

<app-brands-carousel [brands]="brands"></app-brands-carousel>
