<mat-card class="p-0" *ngIf="currentUser.roles.includes('Vendedor')">
  <mat-card-title class="mat-card-title text-center">Últimas Ventas</mat-card-title>
  <div class="mat-mdc-table admin-table header-sm truncated">
    <div class="mat-mdc-header-row">
      <div class="mat-mdc-header-cell">Producto</div>
      <div class="mat-mdc-header-cell">Nombre</div>
      <div class="mat-mdc-header-cell">Cantidad</div>
      <div class="mat-mdc-header-cell">Total</div>
      <div class="mat-mdc-header-cell"></div>
    </div>
    <div *ngFor="let item of datos" class="mat-mdc-row">
      <div class="mat-mdc-cell"><img class="product-image" [src]=" item.producto.imagenes[0].imgUrl"></div>
      <div class="mat-mdc-cell">{{item.producto.nombre}}</div>
      <div class="mat-mdc-cell">{{item.cantidad}}</div>
      <div class="mat-mdc-cell">{{item.cantidad * item.precioUnitario}}</div>
      <div class="mat-mdc-cell">
        <div class="p-2 actions">
          <button mat-mini-fab color="warn" matTooltip="View invoice" class="btn-invoice"
          (click)="detalle(item.encabezadosFacturaId)">
            <mat-icon>receipt</mat-icon>

          </button>
        </div>
      </div>
    </div>
  </div>
</mat-card>
