.footer{
    min-height: 100px;
    padding: 16px 16px 0;
    .col-title{
        font-weight: 600;
    }
    .mat-icon{
        height: 21px;
        line-height: 21px;
    }
    .link{
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }
    .contact-information{
        .mat-icon{
            margin-right: 10px;
        }
    }
    .copyright{
        font-size: 13px;
        font-weight: 300;
    }
}

