<div class="menu-item">
  <a mat-button fxLayout="row" fxLayoutAlign="start center" routerLink="/admin">
    <mat-icon class="menu-icon">dashboard</mat-icon>
    <span class="menu-title">Dashboard</span>
  </a>
  <!-- //Productos -->
  <a mat-button fxLayout="row" fxLayoutAlign="start center" (click)="toggleSubMenu('productos', 'subMenuProductos')"
    id="productos">
    <mat-icon class="menu-icon">grid_on</mat-icon>
    <span class="menu-title">Productos</span>
    <mat-icon class="menu-expand-icon transition-2">arrow_drop_down</mat-icon>
  </a>

  <div class="sub-menu" id="subMenuProductos">
    <!-- Opciones de submenú para "Productos" -->
    <a mat-button fxLayout="row" fxLayoutAlign="start center" [routerLink]="'/vendedor/productos/' + currentUser.userId">
      <mat-icon class="menu-icon">list</mat-icon>
      <span class="menu-title">Lista de Productos</span>
    </a>
    <a mat-button fxLayout="row" fxLayoutAlign="start center" [routerLink]="'/vendedor/productos/crear'">
      <mat-icon class="menu-icon">add_circle_outline</mat-icon>
      <span class="menu-title">Añadir Producto</span>
    </a>
  </div>
  <!-- Fin Productos -->

</div>