<div fxLayout="row wrap" #resizedDiv>
  <div fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="50" class="p-2" *ngIf="currentUser.roles.includes('Administrador')">
    <mat-card class="p-0 gradient-purple">
      <div class="p-2" fxLayoutAlign="space-between center" >
        <p>Top Vendedores</p>
        <div fxLayoutAlign="center center">
          <mat-icon class="icon-sm px-1">trending_up</mat-icon>
        </div>
      </div>
      <div class="w-100 h-100p">
        <ngx-charts-bar-vertical [scheme]="colorScheme" [results]="top5Users" (select)="onSelect($event)">
        </ngx-charts-bar-vertical>
      </div>
    </mat-card>
  </div>
  <div fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="50" class="p-2" *ngIf="currentUser.roles.includes('Administrador')">
    <mat-card class="p-0 gradient-teal">
      <div class="p-2" fxLayoutAlign="space-between center">
        <p>Peores Vendedores</p>
        <div fxLayoutAlign="center center">
          <mat-icon class="icon-sm px-1">trending_down</mat-icon>
        </div>
      </div>
      <div class="w-100 h-100p">
        <ngx-charts-bar-vertical [scheme]="colorScheme" [results]="worstSellers" (select)="onSelect($event)">
        </ngx-charts-bar-vertical>
      </div>
    </mat-card>
  </div>
   <div fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="50" class="p-2" *ngIf="currentUser.roles.includes('Vendedor')">
    <mat-card class="p-0 gradient-indigo">
      <div class="p-2" fxLayoutAlign="space-between center">
        <p>Evaluaciones Clientes</p>
        <div fxLayoutAlign="center center">
          <!-- <mat-icon class="icon-sm px-1">trending_down</mat-icon>
          <span>-11%</span> -->
        </div>
      </div>
      <div class="w-100 h-100p">
        <ngx-charts-bar-vertical [scheme]="colorScheme" [results]="evaluations" (select)="onSelect($event)">
        </ngx-charts-bar-vertical>
      </div>
    </mat-card>
  </div>
  <div fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="50" class="p-2">
    <mat-card class="p-0 gradient-amber">
      <div class="p-2" fxLayoutAlign="space-between center">
        <p>Ventas por Mes</p>
        <div fxLayoutAlign="center center">
        </div>
      </div>
      <div class="w-100 h-100p">
        <ngx-charts-line-chart
        [scheme]="colorScheme"
        [results]="ventasPorMes"                      
        [autoScale]="autoScale"
        (select)="onSelect($event)">
    </ngx-charts-line-chart>    
      </div>
    </mat-card>
  </div>
  <div fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="50" class="p-2" *ngIf="currentUser.roles.includes('Vendedor')">
    <mat-card class="p-0 gradient-green">
      <div class="p-2" fxLayoutAlign="space-between center">
        <p>Categorías más vendidas</p>
        <div fxLayoutAlign="center center">
        </div>
      </div>
      <div class="w-100 h-100p">
        <ngx-charts-bar-vertical [scheme]="colorScheme" [results]="topCategories" (select)="onSelect($event)">
        </ngx-charts-bar-vertical>
      </div>
    </mat-card>
  </div>
   
</div>