<div fxLayout="row wrap">
  <div *ngFor="let product of datos | paginate: { itemsPerPage: count, currentPage: page }" fxFlex="100"
    [fxFlex.gt-sm]="viewCol" fxFlex.sm="50" class="p-2">
    <mat-card class="product-item text-center">
      <mat-chip-listbox *ngIf="product.descuento && product.descuento > 0">
        <mat-chip-option color="warn" highlighted selectable="false">{{product.descuento}}% OFF</mat-chip-option>
      </mat-chip-listbox>
      <img [src]="product.imagenes[0].imgUrl" alt="Producto" class="product-image">
      <h4 class="category text-muted">{{ product.categoriaProducto.descripcion}}</h4>
      <div class="title text-truncate">
        {{product.nombre}}
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center" class="prices">
        <div fxLayout="column" fxLayoutAlign="center start">
          <p class="old-price text-muted">
            <span *ngIf="product.precioOferta > 0">${{ product.precio | number : "1.2-2" }}</span>
          </p>
          <p *ngIf="product.precioOferta != 0; else noOferta" class="new-price">
            ${{ product.precioOferta | number : "1.2-2" }}
          </p>
          <ng-template #noOferta>
            <p class="new-price">${{ product.precio | number : "1.2-2" }}</p>
          </ng-template>
        </div>
        <h4 class="text-muted">En Stock: {{product.stock}}</h4>
      </div>
      <div class="divider mt-2"></div>
      <div class="icons">
        <a [routerLink]="['/vendedor/productos/editar/', product.id]" mat-mini-fab color="primary"
          matTooltip="Edit"><mat-icon>edit</mat-icon></a>
        <a [routerLink]="['/admin/products/product-detail', product.id]" mat-mini-fab color="primary" matTooltip="View"
          class="mx-2"><mat-icon>remove_red_eye</mat-icon></a>
        <!-- <button mat-mini-fab color="warn" matTooltip="Remove"
          (click)="remove(product)"><mat-icon>delete</mat-icon></button> -->
      </div>
    </mat-card>
  </div>
</div>

<div *ngIf="datos.length > 0" fxLayout="row wrap">
  <div fxFlex="100" class="p-2">
    <mat-card class="text-center">
      <pagination-controls class="product-pagination" [autoHide]="true" [maxSize]="5"
        (pageChange)="onPageChanged($event)"></pagination-controls>
    </mat-card>
  </div>
</div>