.main {
  min-height: 400px;
  min-height: calc(100vh - 288px);
  padding: 16px;
  box-sizing: border-box;
}
.sidenav {
  width: 250px;
  padding: 8px 16px;
  position: fixed;
  .close {
    margin-left: 178px;
  }
  .divider {
    margin: 8px 0;
  }
}
.navbar-logo {
  width: 250px; /* Ajusta el valor según el tamaño deseado */
  height: auto;
}

/* Estilos para hacer la imagen responsive */
@media (max-width: 1150px) {
  .navbar-logo {
    width: 200px; /* Ajusta el valor según el tamaño deseado para pantallas pequeñas */
  }
}

@media (max-width: 576px) {
  .navbar-logo {
    width: 150px; /* Ajusta el valor según el tamaño deseado para pantallas extra pequeñas */
  }
}

.main {
  min-height: 400px;
  min-height: calc(100vh - 288px);
  padding: 16px;
  box-sizing: border-box;
}
.sidenav {
  width: 250px;
  padding: 8px 16px;
  position: fixed;
  .close {
    margin-left: 178px;
  }
  .divider {
    margin: 8px 0;
  }
}

.product-image {
  object-fit: contain;
  height: 75px;
}
